.bl-all-area {
  text-align: center;
  background: #eeeeee;
  padding: 0 25px;
}

.bl-all-page {
  width: 1000px;
  text-align: left;
  background: white;
  padding: 10px;
  margin-left: 10%;
  box-shadow: 0 0 2px 0 #555555;
}

.bl-headerfooter,  .bl-mainarea {
  padding: 12px 5px;
  margin: 0 35px;
}

.bl-sidebar {
  width: 24.7%;
  float: left;
}

.bl-image, .bl-description {
  box-sizing: border-box;
  float: right;
  text-align: center;
  width: 73%;
  border: solid 1px #C8C8C8;
  margin-bottom: 30px;
}

.bl-description {
  text-align: left;
  padding-left: 20px;
  margin-bottom: 10px;
  border: none ;
}

.break-float {
  clear: both;
}

ul.hr, ul.hr2, ul.vr {
  font-family: sans-serif;
  font-style: normal;
  font-size: 14px;
  margin: 10px 0;
  padding: 11px 0;
  list-style-type: none;
  background: #5e5e5e;
  background: linear-gradient(to bottom, #5e5e5e, #444343);
}

ul.hr2 {
  font-size: 12px;
  background: #E1E1E1;
}

ul.vr {
  font-size: 12px;
  padding: 0;
  margin-top: 0;
  background: white;
}

ul.hr li, ul.hr2 li {
  display: inline;
  margin-right: 20px;
  padding: 10px 20px;
}

ul.hr li:nth-child(2) {
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
  background:#404040;
}

ul.hr2 li:nth-child(2) {
  text-decoration: underline;
}

ul.hr2 li:nth-child(5) {
  padding-left: 325px;
  padding-right: 0;
  text-align: right;
}

ul.hr a, ul.hr2 a {
  color: #fff;
  text-decoration: none;
}

ul.hr2 a {
  color: #464646;
}

ul.vr li {
  margin-right: 20px;
  padding: 10px 20px;
  border-left: 1px solid #C8C8C8;
  border-right: 1px solid #C8C8C8;
  border-bottom: 1px solid #C8C8C8;
}

ul.vr li:nth-child(1) {
  border-top: 1px solid #C8C8C8;
}

ul.vr a {
  color: #656363;
  text-decoration: none;
}

ul.vr li:nth-child(3) {
  background:#F9F9F9;
  padding: 10px 30px;
}

ul.vr li:nth-child(3) a {
  color: black;
}
