body {
  background-color: #eee;
}

.page {
  width: 75%;
  background: white;
  padding: 10px;
  margin: 0 auto;
  width: 1000px;
  box-shadow: 0 0 2px 0 #555;
}

.header,  .mainarea, .footer {
  padding: 12px 5px;
  margin: 0 35px;
}

.footer {
  float: left;
  width: 100%;
  padding: 0;
}

.sidebar {
  width: 24.7%;
  float: left;
}

.content {
  float: right;
  width: 73%;
}

.image {
  box-sizing: border-box;
  text-align: center;
  border: solid 1px #C8C8C8;
  margin-bottom: 30px;
}

.description {
  text-align: left;
  padding-left: 20px;
  margin-bottom: 10px;
}

.break-float {
  clear: both;
}

ul.mainmenu, ul.footermenu, ul.sidebarmenu {
  font-family: sans-serif;
  font-style: normal;
  font-size: 0px;
  margin: 10px 0;
  list-style-type: none;
  background: #5e5e5e;
  background: linear-gradient(to bottom, #5e5e5e, #444343);
}

ul.sidebarmenu {
  font-size: 12px;
  padding: 0;
  margin-top: 0;
  background: white;
}

ul.mainmenu li, ul.footermenu li {
  display: inline-block;
  font-size: 14px;
}

ul.mainmenu li:hover {
  border-left: 1px solid #838383;
  border-right: 1px solid #838383;
  background:#404040;
}

ul.footermenu li:hover {
  text-decoration: underline;
}

ul.mainmenu li a, ul.footermenu li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 30px;
}

ul.footermenu li a {
  color: #464646;
  padding: 10px 29px;
}

ul.mainmenu li a:hover, ul.footermenu li a:hover {
  display: block;
  padding: 10px 29px;
}

ul.sidebarmenu li {
  border-left: 1px solid #C8C8C8;
  border-right: 1px solid #C8C8C8;
  border-bottom: 1px solid #C8C8C8;
}

ul.sidebarmenu li:nth-child(1) {
  border-top: 1px solid #C8C8C8;
}

ul.sidebarmenu li a {
  display: block;
  padding: 10px 20px;
  color: #656363;
  text-decoration: none;
}

ul.sidebarmenu li a:hover {
  background:#F9F9F9;
  color: black;
  padding: 10px 30px;
}

ul.footermenu, .copyright {
  float: left;
  box-sizing: border-box;
  width: 75%;
  font-size: 12px;
  background: #E1E1E1;
}

.copyright {
  float: left;
  box-sizing: border-box;
  width: 25%;
  margin: 10px -1px;
  padding: 10px 10px;
  text-align:right;
  font-size: 14px;
}
