.to-right-bottom {
  position:absolute;
  bottom:0;
  right:0;
}

h1 {
  padding: 6px 0;
  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  font-weight: bold;
}

.clearfix:after{
  visibility: hidden;
  content: "";
  clear:both;
  display: block;
}

.sitebackground {
  background: #0C739F url(../images/background.png) repeat-x;
}

.copyright {
  padding: 20px 0;
  font-size: 12px;
  text-align: center;
  color: #fff;
}

.page {
  margin: 0 auto;
  width: 1000px;
  text-align: left;
  background: #fff;
  box-shadow: 5px 0 4px 2px rgba(20,20,20,0.15);
}

.logo {
  box-sizing: border-box;
  float: left;
  text-align: left;
  height: 174px;
}

.contacts {
  box-sizing: border-box;
  float: right;
  text-align: left;
  width: 18%;
  padding-top: 15px;
  color:#128aa7;
  font-size:14px;
}

.telephones{
  padding-top:3px;
}

.countriesbar {
  font-size: 9px;
  width: 75%;
  padding-right: 25px;
}

.country {
  float: right;
  text-align: center;
  font-size: 10px;
  padding: 5px;
}


.countrylink:before {
  content: "";
  display: block;
  font-size: 10px;
  padding: 5px;
  height: 34px;
  width: 32px;
}

.maldives{
  background: url(../images/maldives.png) no-repeat;
  background-position-x: center;
}

.srilanka{
  background: url(../images/sri-lanka.png) no-repeat;
  background-position-x: center;
}

.butan{
  background: url(../images/buthan.png) no-repeat;
  background-position-x: center;
}

.tibet{
  background: url(../images/tibet.png) no-repeat;
  background-position-x: center;
}

.nepal{
  background: url(../images/nepal.png) no-repeat;
  background-position-x: center;
}

.india{
  background: url(../images/india.png) no-repeat;
  background-position-x: center;
}

.countrylink {
  display: block;
  height: 100%;
}

.header {
  position:relative;
}

.description {
  text-align: left;
  padding-left: 20px;
  margin-bottom: 10px;
}

.menu ul {
  position: absolute;
  display: none;
  margin-top: 0;
  left: -2px;
  padding: 6px 0 2px;
  z-index: 3;
  background: #303030;
  box-shadow: 1px 1px 2px 1px #222;
}

.menu {
  font-family: sans-serif;
  font-style: normal;
  font-size: 14px;
  margin-top: -2px;
  padding:  6px 0 0 42px;
  height: 24px;
  background: linear-gradient(to bottom, #373737, #242424);
  box-shadow: 1px 1px 2px 1px #222;
}

.menu li {
  position: relative;
  float: left;
}

.menu ul li {
  float: none;
}

.menu ul li a {
  display: block;
  padding: 4px 8px 4px;
}

.menu li a {
  display: block;
  color: #fff;
  padding: 2px 54px 5px 5px;
  text-decoration: none;
}

.menu ul li { float: none; }
.menu li ul a:hover { color: #fff; }
.menu li a:hover { color: #36bee8; }
.menu ul li a:hover { color: #36bee8;}
.menu li:hover ul { display: block;}


.submenu-char {
  font-size: 50%;
  position: relative;
  bottom: 1px;
  left: 4px;
}

.rightback {
  width: 100%;
  float:left;
  background-color: #EDEEF0;
  overflow:hidden;
  position:relative;
}
.contentback {
  float:left;
  background-color:#fff;
  width: 100%;
  position:relative;
  right: 20%;
}
.leftback {
  width: 100%;
  position:relative;
  right: 60%;
  float:left;
  background-color: #EDEEF0;
}

.container {
  box-sizing: border-box;
  width: 100%;
  padding-bottom: 5px;
}

.leftsidebar {
  box-sizing: border-box;
  padding-left: 2px;
  float:left;
  width: 20%;
  overflow:hidden;
  position:relative;
  left: 80%;
}

.content {
  float:left;
  box-sizing: border-box;
  padding-left: 2px;
  width: 60%;
  overflow:hidden;
  position:relative;
  left: 80%;
}

.rightsidebar {
  box-sizing: border-box;
  padding-left: 2px;
  float:left;
  overflow:hidden;
  width: 20%;
  position:relative;
  left: 80%;
}

.container p {
  line-height: 1.2;
}

