.cl-all-area {
  text-align: center;
  background: #eeeeee;
  padding: 5px 5px 25px;
  border-bottom: solid 5px black;
}
.cl-a4-page {
  width: 30%;
  text-align: center;
  background: white;
  padding: 10px;
  margin-left: 35%;
  box-shadow: 0 0 2px 0 #555555
}

.cl-block-1,  .cl-block-2, .cl-block-3, .cl-block-4, .cl-block-5 {
  padding: 5px;
  margin: 0 35px;
  font-size: 16px;
  color: black;
}

.cl-block-2, .cl-block-3, .cl-block-4 {
  border-bottom: solid 1px black;
}

.cl-block-2, .cl-block-3,  .cl-block-4, .cl-block-5 {
  text-align: left;
}

ul {
  margin-left: 20px;
  padding: 0;
}
